---
import { Head } from "@/components/Head";
import AppRouter from "@/components/Router";
import "@wix/wix-vibe-plugins/plugins-vars.css";
import "@wix/wix-vibe-plugins/plugins-theme.css";
import "@/styles/global.css";
---

<html lang="en" class="w-full h-full">
  <head>
    <Head />
    <title>Professional Legal Services in Ontario | LegalAssist</title>
  </head>
  <body class="w-full h-full">
    <div id="root" class="w-full h-full">
      <AppRouter client:only="react" />
    </div>
  </body>
</html>
